@model List<EducationListDto>
    <section class="resume-section" id="education">
        <div class="resume-section-content">
            <h2 class="mb-5">Eğitim</h2>
            @foreach (var item in Model)
            {
                <div class="d-flex flex-column flex-md-row justify-content-between mb-5">
                    <div class="flex-grow-1">
                        <h3 class="mb-2">@item.Title</h3>
                        <div style="color:black" class="subheading">@item.SubTitle</div>
                        <p style="color:black"><strong>Not: </strong>@item.Point / @item.MaxPoint</p>
                    </div>
                    <div class="flex-shrink-0"><span class="text-primary">@item.StartDate - @item.EndDate</span></div>
                </div>
            }
        </div>
    </section>